/*X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {}


/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) {


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar-nav {
 background: #756c64;
	}
.navbar-nav .nav-item {
	padding: 5px 225px !important;
}
	.navbar-nav .nav-item .nav-link::before {
	left: -11px !important;
}
	.navbar .navbar-nav .nav-item {
	padding-left: 0 !important;
	padding-bottom: 15px !important;
}
.nav-item #icon {
	top: 5px !important;
	right: 192px !important;
	cursor: pointer;
}
    #icon {
	top: 20px !important;
	left: 192px !important;
}
.navbar .navbar-nav .nav-item .color_menu {
	position: absolute;
	width: 100px !important;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s linear;
	/* margin-top: 15px; */
	right: 22% !important;
	top: -171px !important;
}	
	
	
	
	
.banner-text {
	text-align: center;
	padding-top: 155px !important;
}
.banner-text h2 {
	font-size: 34px !important;
	padding-bottom: 25px;
	margin: 0;
}
.banner-text h1 {
	font-size: 40px !important;
	margin: 0;
}	
	
.my_photo img {
	width: 73%;
	margin-left: 71px;
	margin-bottom: 48px;
}
	.my_self {
	text-align: center;
}
.about_me h3::before {
	position: absolute;
	content: '';
	width: 34%;
	height: 2px;
	top: 71% !important;
left: 168px !important;
	}	
	
	
.skill_items {
	padding-bottom: 35px;
}
.left-text p {
	padding-top: 0px !important;
}
	
.left-text a {
	text-align: center;
	margin-left: 26%;
}	
.my_work {
	padding-bottom: 0px !important;
}	
.contact {
	margin: 5px 0 !important;
}
	
.vbox-figlio {
	width: 90% !important;
	height: 254px !important;
}
	
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    	.navbar .navbar-nav .nav-item {
	padding-left: 0 !important;
	padding-bottom: 15px !important;
}
.nav-item #icon {
	top: 27px !important;
	right: 192px !important;
	cursor: pointer;
}
    #icon {
	top: 20px !important;
	left: 192px !important;
}
    .banner_area {
	height: 80vh !important;
}
.banner-text {
	text-align: center;
	padding-top: 146px !important;
	margin-right: 109px;
}
	.banner-text h2 {
	font-size: 34px;
	padding-bottom: 25px;
	margin: 0;
}
	
.banner-text h1 {
	font-size: 40px !important;
	margin: 0;
}
.my_photo img {
	width: 73%;
	margin-left: 80px;
	margin-bottom: 48px;
}
	.my_self {
	text-align: center;
}
	.about_me h2 {
	padding-bottom: 15px !importent;
}
	.about_me h3 {
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 25px;
	position: relative !importent;
	text-align: center;
}
.about_me h3::before {
	position: absolute;
	content: '';
	width: 34%;
	height: 2px;
	top: 71% !important;
left: 183px !important;
	
}
	
.skill_items {
	padding-bottom: 35px;
}	
.left-text p {
	padding-top: 0px !important;
}	
.left-text a {
	text-align: center;
	margin-left: 26%;
}
	
.my_work {
	padding-bottom: 0px !important;
}	
.contact {
	margin: 5px 0 !important;
}
	.vbox-figlio {
	width: 90% !important;
	height: 254px !important;
}
	
	
	
	
	
}
// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
